<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.cocode.jike.mapper.NotifyMapper">
  <resultMap id="BaseResultMap" type="me.cocode.jike.entity.Notify">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="to_user_id" jdbcType="INTEGER" property="toUserId" />
    <result column="from_user_id" jdbcType="INTEGER" property="fromUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="is_confirmed" jdbcType="VARCHAR" property="isConfirmed" />
    <result column="message" jdbcType="VARCHAR" property="message" />
  </resultMap>
</mapper>