<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.cocode.jike.dao.UserInfoMapper">
  <resultMap id="BaseResultMap" type="me.cocode.jike.entity.UserInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cover" jdbcType="VARCHAR" property="cover" />
    <result column="female" jdbcType="VARCHAR" property="female" />
    <result column="bachelor" jdbcType="VARCHAR" property="bachelor" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="school" jdbcType="VARCHAR" property="school" />
  </resultMap>
</mapper>